.d-grid{
    display: grid;
}


.d-flex{
    display: flex;
}

/*padres*/

/*dirección de elementos dentro del container*/

.flex-direction-row{ /*izquierda a derecha*/
    flex-direction: row;
}

.flex-direction-row-reserve{ /*derecha a izquierda*/
    flex-direction: row-reverse;
}

.flex-direction-column{
    flex-direction: column; /*arriba a abajo*/
}

.flex-direction-column-reverse{ /*abajo a arriba*/
    flex-direction: column-reverse;
}

/*alineación de elementos dentro del container*/

/*eje x*/
.justify-content-start{ 
    justify-content: start; /*inicio-izquierda*/
}

.justify-content-end{
    justify-content: end; /*final-derecha*/
}

.justify-content-center{ /*centro*/
    justify-content: center;
}

.justify-content-start-space-between{ /*espacio entre los elementos*/
    justify-content: space-between;
}

.justify-content-space-around{ /*espacio disimulado entre los elementos*/
    justify-content: space-around;
}

/*eje y*/
.align-items-start{ /*arriba*/
    align-items: flex-start;
}

.align-items-end{ /*abajo*/
    align-items: flex-end;
}

.align-items-center{ /*centro*/
    align-items: center;
}

.align-items-streth{ /*estira los elementos*/
    align-items: stretch;
}
.p-5{
    padding: 5px;
}
.p-10{
    padding:10px;
}
.mb-10{
    margin-bottom: 10px;
}